/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@400;600;700&display=swap');

.container {
  display: flex;
  min-height: 100vh;
  background: #000;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

/* Left side */
.left {
  flex: 1;
  background: linear-gradient(180deg, #0a0a0a, #1c1c1c);
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-size: 2.5rem;
  font-weight: bold;
}

.subheading {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  color: #ccc;
}

.socialButtons {
  display: flex;
  gap: 1rem;
}

.socialBtn {
  flex: 1;
  background: #2d2d2d;
  border: 1px solid #555;
  padding: 0.8rem;
  color: #fff;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease; /* smooth hover effect */
}

.socialBtn:hover {
  background: #444;       
  border-color: #888;     
  color: #AD8E5F;;        
  transform: translateY(-2px); 
}

.divider {
  margin: 2rem 0;
  text-align: center;
  color: #888;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.divider span {
  flex: 1;
  height: 1px;
  background: #333;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form label {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

.form input {
  padding: 0.8rem;
  background: transparent;
  border: 1px solid #555;
  border-radius: 4px;
  color: #fff;
}

.passwordWrapper {
  position: relative;
}

.passwordWrapper input {
  width: 100%;
}

.eyeIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remember {
  display: flex;
  gap: 0.5rem;
}

.forgot {
  color: #aaa;
  font-size: 0.9rem;
}

.signinBtn {
  border: none;
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.signupText {
  margin-top: 1.5rem;
  color: #aaa;
}

.signupText a {
  color: #AD8E5F;
  font-weight: 600;
}

/* Right side */
.right {
  flex: 1;
  position: relative;
  display: flex;
  /* align-items: flex-end; */
  justify-content: center;
  padding: 2rem;
    /* height: 100vh; 
  overflow: hidden; */
}

.right::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0));
  z-index: 2;
}

.bgImage {
  object-fit: cover;
  /* position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
  z-index: 1;
}

.overlayText {
  /* position: absolute; */
  z-index: 3; 
  /* top: 20%;
  left: 10%; */
  /* max-width: 70%; */
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overlayText h2 {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: 'Noto Serif Display', serif;
}

.overlayText p {
  margin-top: 1rem;
  font-size: 1rem;
  /* color: #ddd; */
}

.overlayText h2,
.overlayText p {
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7); 
}

@media (max-width: 768px) {
  .right {
    display: none;
  }
}