.contactPage {
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  text-align: center;
}

.descriptionMain{
    text-align: left;
    
}


.heading {
  /* font-size: 4rem; */
  font-weight: bold;
  margin-bottom: 1rem;
    font-style: italic;
}

.headingGold {
      background: linear-gradient(rgb(225, 188, 136) 0%, rgb(123, 103, 74) 100%) text;
    -webkit-text-fill-color: transparent;
    padding: 0px 5px
}

.headingWhite {
  color: #fff;
}

.description {
  /* max-width: 700px; */
  margin-bottom: 2.5rem;
  color: #d1d5db; /* gray-300 */
  line-height: 1.6;
}

.formWrapper {
  width: 100%;
  max-width: 400px;
}

.formTitle {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  color: #AE9169;
  margin-bottom: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input,
.textarea {
  width: 100%;
  padding: 0.75rem;
  background-color: #000;
  border: 1px solid white; /* gray-600 */
  color: #fff;
  outline: none;
}

.input::placeholder,
.textarea::placeholder {
  color: #9ca3af; /* gray-400 */
}

.button {
  width: 100%;
  padding: 0.75rem;
  font-weight: 600;
  color: #fff;
  border: none;
  cursor: pointer;
    background: linear-gradient(#e1bc88 25%, #7b674a 100%);
  background-blend-mode: overlay;
  transition: opacity 0.3s ease;
}

.button:hover {
  opacity: 0.9;
}


@media (max-width: 768px) {
  .contactPage {
    padding: 1.5rem;
  }
  .descriptionMain{
    text-align: center;
  }
}

@media (max-width: 480px) {
  .contactPage {
    padding: 1rem;
  }
}